server:
  port: 2333

lavalink:
  server:
    password: hiroki0407

sources:
  youtube: true
  soundcloud: true
  bandcamp: true
  twitch: true
  vimeo: true
  http: true
  local: false

logging:
  level:
    root: INFO
