server:
  port: ${PORT}
  address: 0.0.0.0

lavalink:
  server:
    password: "pass"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false

logging:
  level:
    root: INFO
    lavalink: INFO

metrics:
  prometheus:
    enabled: false
